<ion-view id="online-course" hide-nav-bar="false">
    <ion-nav-title>{{appLanguage.app_lang_report_title}}</ion-nav-title>
    <ion-content id="online-course-content">
        <div class="course-list" style="margin-top: 0px;">
            <div class="course-item" ng-repeat="questionSet in questionSetArrayList">
                <div class="title angular-course-background" style="background-color: {{color}} !important;">
                    {{appLanguage.app_lang_question_question_name}} : {{questionSet.question_set_name}}
                </div>
                <div class="content">
                    <p ng-repeat="question in questionArrayList" ng-if="question.question_question_set_id == questionSet.question_set_id" style="margin-top: 10px;">{{question.question_name}}</p>
                    <p style="margin-top: 10px;">
                        <a href="" class="md-raised md-button md-default-theme angular-course-background" style="background-color: {{color}} !important;" ng-click="btnReportSelection(questionSet)">
                            <i class="fas fa-chart-area"></i> {{appLanguage.app_lang_report_selection_btn}}
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
