<ion-view hide-nav-bar="false">
    <ion-nav-title>{{appLanguage.app_lang_report_selection_title}}</ion-nav-title>
    <ion-nav-buttons side="left">
        <a ng-click="btnBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <ion-content id="try-app-content">
        <div class="row">
            <div class="col-50" style="margin-top: 20px; margin-left: 20px;">{{appLanguage.app_lang_report_selection_chart}}</div>
        </div>
        <md-select ng-model="mdSelectValueChart" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;">
            <md-option value="1" ng-click="setChart(1)" ng-if="appLanguageID == 1">กราฟแท่ง</md-option>
            <md-option value="2" ng-click="setChart(2)" ng-if="appLanguageID == 1">กราฟเส้น</md-option>
            <md-option value="3" ng-click="setChart(3)" ng-if="appLanguageID == 1">กราฟวงกลม</md-option>

            <md-option value="1" ng-click="setChart(1)" ng-if="appLanguageID == 2">Bar Chart</md-option>
            <md-option value="2" ng-click="setChart(2)" ng-if="appLanguageID == 2">Line Chart</md-option>
            <md-option value="3" ng-click="setChart(3)" ng-if="appLanguageID == 2">Pie Chart</md-option>
        </md-select>
        <div class="row" ng-if="questionSetDetail.question_set_info == 2">
            <div class="col-50" style="margin-left: 20px;">{{appLanguage.app_lang_report_selection_data_type}}</div>
        </div>
        <md-select ng-model="mdSelectValueData" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;" ng-if="questionSetDetail.question_set_info == 2">
            <md-option value="1" ng-click="setData(1)" ng-if="appLanguageID == 1">ข้อมูลจากแบบประเมินความพึงพอใจ</md-option>
            <md-option value="2" ng-click="setData(2)" ng-if="appLanguageID == 1">ข้อมูลจากแบบสอบถามเบื้องต้น</md-option>

            <md-option value="1" ng-click="setData(1)" ng-if="appLanguageID == 2">Data from satisfaction form</md-option>
            <md-option value="2" ng-click="setData(2)" ng-if="appLanguageID == 2">Data from basic information</md-option>
        </md-select>
        <md-input-container md-no-float="" style="margin-left: 20px;">
            <p>{{appLanguage.app_lang_report_selection_start}}</p>
            <div>
                <input class="user-name" placeholder="{{appLanguage.app_lang_report_selection_start}} *" style="width: 300px;" ng-model="reportSelection.startdate" ng-click="openDatePickerStart()">
            </div>
        </md-input-container>
        <md-input-container md-no-float="" style="margin-left: 20px;">
            <p>{{appLanguage.app_lang_report_selection_time_start}}</p>
            <div>
                <input class="user-name" placeholder="{{appLanguage.app_lang_report_selection_time_start}} *" style="width: 300px;" ng-model="reportSelection.starttime" ng-click="openTimePickerStart()">
            </div>
        </md-input-container>
        <md-input-container md-no-float="" style="margin-left: 20px;">
            <p>{{appLanguage.app_lang_report_selection_end}}</p>
            <div>
                <input class="user-name" placeholder="{{appLanguage.app_lang_report_selection_end}} *" style="width: 300px;" ng-model="reportSelection.enddate" ng-click="openDatePickerEnd()">
            </div>
        </md-input-container>
        <md-input-container md-no-float="" style="margin-left: 20px;">
            <p>{{appLanguage.app_lang_report_selection_time_end}}</p>
            <div>
                <input class="user-name" placeholder="{{appLanguage.app_lang_report_selection_time_end}} *" style="width: 300px;" ng-model="reportSelection.endtime" ng-click="openTimePickerEnd()">
            </div>
        </md-input-container>
        <center>
            <a class="md-raised social-button md-button md-default-theme material-background" ng-click="btnChart()" style="margin-left: 20px;">
                {{appLanguage.app_lang_report_selection_chart_btn}}
            </a>
        </center>
    </ion-content>
</ion-view>
