<ion-view hide-nav-bar="false">
    <ion-nav-title>{{appLanguage.app_lang_score_complete_title}}</ion-nav-title>
    <ion-nav-buttons side="left">
        <a ng-click="btnBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>
    <ion-content id="try-app-content">
        <div style="text-align: center; margin-top: 20px; margin-left: 20px; margin-right: 20px;">
            {{appLanguage.app_lang_score_complete_detail}}
        </div>
        <div style="text-align: center; margin-top: 20px; margin-left: 20px; margin-right: 20px; border: 3px solid red;" ng-repeat="ads in adsArray" ng-click="openLink(ads)">
            <p style="margin-top: 15px; font-weight: bold; font-size: 20px; color: #666;">{{ads.advertise_text_1}}</p>
            <p style="font-weight: bold; font-size: 18px; color: #666;">{{ads.advertise_text_2}}</p>
            <p style="font-weight: bold; font-size: 18px; color: #666;">{{ads.advertise_text_3}}</p>
        </div>
    </ion-content>
</ion-view>
