<ion-view hide-nav-bar="false">
    <ion-nav-title>{{appLanguage.app_lang_setting_title}}</ion-nav-title>
    <ion-content id="try-app-content">
        <div class="row">
            <div class="col-50" style="margin-top: 20px; margin-left: 20px;">{{appLanguage.app_lang_setting_lang}}</div>
        </div>
        <md-select ng-model="mdSelectValueLanguage" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;">
            <md-option value="1" ng-click="setLanguage(1)">ภาษาไทย</md-option>
            <md-option value="2" ng-click="setLanguage(2)">English</md-option>
            <md-option value="3" ng-click="setLanguage(3)">Chinese</md-option>
            <md-option value="4" ng-click="setLanguage(4)">Korean</md-option>
        </md-select>
        <div class="row">
            <div class="col-50" style="margin-left: 20px;">{{appLanguage.app_lang_setting_app_color}}</div>
        </div>
        <md-select ng-model="mdSelectValueAppColor" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;">
            <!-- <md-option value="1" ng-click="setAppColor('red')" ng-if="appLanguageID == 2">Red</md-option>
            <md-option value="2" ng-click="setAppColor('pink')" ng-if="appLanguageID == 2">Pink</md-option>
            <md-option value="3" ng-click="setAppColor('purple')" ng-if="appLanguageID == 2">Purple</md-option>
            <md-option value="4" ng-click="setAppColor('deep-purple')" ng-if="appLanguageID == 2">Deep Purple</md-option>
            <md-option value="5" ng-click="setAppColor('indigo')" ng-if="appLanguageID == 2">Indiago</md-option>
            <md-option value="6" ng-click="setAppColor('blue')" ng-if="appLanguageID == 2">Blue</md-option>
            <md-option value="7" ng-click="setAppColor('light-blue')" ng-if="appLanguageID == 2">Light Blue</md-option>
            <md-option value="8" ng-click="setAppColor('cyan')" ng-if="appLanguageID == 2">Cyan</md-option>
            <md-option value="9" ng-click="setAppColor('teal')" ng-if="appLanguageID == 2">Teal</md-option>
            <md-option value="10" ng-click="setAppColor('green')" ng-if="appLanguageID == 2">Green</md-option>
            <md-option value="11" ng-click="setAppColor('light-green')" ng-if="appLanguageID == 2">Light Green</md-option>
            <md-option value="12" ng-click="setAppColor('lime')" ng-if="appLanguageID == 2">Lime</md-option>
            <md-option value="13" ng-click="setAppColor('yellow')" ng-if="appLanguageID == 2">Yellow</md-option>
            <md-option value="14" ng-click="setAppColor('amber')" ng-if="appLanguageID == 2">Amber</md-option>
            <md-option value="15" ng-click="setAppColor('orange')" ng-if="appLanguageID == 2">Orange</md-option>
            <md-option value="16" ng-click="setAppColor('deep-orange')" ng-if="appLanguageID == 2">Deep Orange</md-option>
            <md-option value="17" ng-click="setAppColor('brown')" ng-if="appLanguageID == 2">Brown</md-option>
            <md-option value="18" ng-click="setAppColor('grey')" ng-if="appLanguageID == 2">Grey</md-option>
            <md-option value="19" ng-click="setAppColor('blue-grey')" ng-if="appLanguageID == 2">Blue Grey</md-option> -->

            <md-option value="1" ng-click="setAppColor('red')">Red</md-option>
            <md-option value="2" ng-click="setAppColor('pink')">Pink</md-option>
            <md-option value="3" ng-click="setAppColor('purple')">Purple</md-option>
            <md-option value="4" ng-click="setAppColor('deep-purple')">Deep Purple</md-option>
            <md-option value="5" ng-click="setAppColor('indigo')">Indiago</md-option>
            <md-option value="6" ng-click="setAppColor('blue')">Blue</md-option>
            <md-option value="7" ng-click="setAppColor('light-blue')">Light Blue</md-option>
            <md-option value="8" ng-click="setAppColor('cyan')">Cyan</md-option>
            <md-option value="9" ng-click="setAppColor('teal')">Teal</md-option>
            <md-option value="10" ng-click="setAppColor('green')">Green</md-option>
            <md-option value="11" ng-click="setAppColor('light-green')">Light Green</md-option>
            <md-option value="12" ng-click="setAppColor('lime')">Lime</md-option>
            <md-option value="13" ng-click="setAppColor('yellow')">Yellow</md-option>
            <md-option value="14" ng-click="setAppColor('amber')">Amber</md-option>
            <md-option value="15" ng-click="setAppColor('orange')">Orange</md-option>
            <md-option value="16" ng-click="setAppColor('deep-orange')">Deep Orange</md-option>
            <md-option value="17" ng-click="setAppColor('brown')">Brown</md-option>
            <md-option value="18" ng-click="setAppColor('grey')">Grey</md-option>
            <md-option value="19" ng-click="setAppColor('blue-grey')">Blue Grey</md-option>
        </md-select>
        <div class="row">
            <div class="col-50" style="margin-left: 20px;">{{appLanguage.app_lang_setting_second_color}}</div>
        </div>
        <md-select ng-model="mdSelectValueSecondColor" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;">
            <!-- <md-option value="1" ng-click="setAppColor('red')" ng-if="appLanguageID == 2">Red</md-option>
            <md-option value="2" ng-click="setAppColor('pink')" ng-if="appLanguageID == 2">Pink</md-option>
            <md-option value="3" ng-click="setAppColor('purple')" ng-if="appLanguageID == 2">Purple</md-option>
            <md-option value="4" ng-click="setAppColor('deep-purple')" ng-if="appLanguageID == 2">Deep Purple</md-option>
            <md-option value="5" ng-click="setAppColor('indigo')" ng-if="appLanguageID == 2">Indiago</md-option>
            <md-option value="6" ng-click="setAppColor('blue')" ng-if="appLanguageID == 2">Blue</md-option>
            <md-option value="7" ng-click="setAppColor('light-blue')" ng-if="appLanguageID == 2">Light Blue</md-option>
            <md-option value="8" ng-click="setAppColor('cyan')" ng-if="appLanguageID == 2">Cyan</md-option>
            <md-option value="9" ng-click="setAppColor('teal')" ng-if="appLanguageID == 2">Teal</md-option>
            <md-option value="10" ng-click="setAppColor('green')" ng-if="appLanguageID == 2">Green</md-option>
            <md-option value="11" ng-click="setAppColor('light-green')" ng-if="appLanguageID == 2">Light Green</md-option>
            <md-option value="12" ng-click="setAppColor('lime')" ng-if="appLanguageID == 2">Lime</md-option>
            <md-option value="13" ng-click="setAppColor('yellow')" ng-if="appLanguageID == 2">Yellow</md-option>
            <md-option value="14" ng-click="setAppColor('amber')" ng-if="appLanguageID == 2">Amber</md-option>
            <md-option value="15" ng-click="setAppColor('orange')" ng-if="appLanguageID == 2">Orange</md-option>
            <md-option value="16" ng-click="setAppColor('deep-orange')" ng-if="appLanguageID == 2">Deep Orange</md-option>
            <md-option value="17" ng-click="setAppColor('brown')" ng-if="appLanguageID == 2">Brown</md-option>
            <md-option value="18" ng-click="setAppColor('grey')" ng-if="appLanguageID == 2">Grey</md-option>
            <md-option value="19" ng-click="setAppColor('blue-grey')" ng-if="appLanguageID == 2">Blue Grey</md-option> -->

            <md-option value="1" ng-click="setSecondColor('#F44336')">Red</md-option>
            <md-option value="2" ng-click="setSecondColor('#E91E63')">Pink</md-option>
            <md-option value="3" ng-click="setSecondColor('#9C27B0')">Purple</md-option>
            <md-option value="4" ng-click="setSecondColor('#673AB7')">Deep Purple</md-option>
            <md-option value="5" ng-click="setSecondColor('#3F51B5')">Indiago</md-option>
            <md-option value="6" ng-click="setSecondColor('#2196F3')">Blue</md-option>
            <md-option value="7" ng-click="setSecondColor('#03A9F4')">Light Blue</md-option>
            <md-option value="8" ng-click="setSecondColor('#00BCD4')">Cyan</md-option>
            <md-option value="9" ng-click="setSecondColor('#009688')">Teal</md-option>
            <md-option value="10" ng-click="setSecondColor('#4CAF50')">Green</md-option>
            <md-option value="11" ng-click="setSecondColor('#8BC34A')">Light Green</md-option>
            <md-option value="12" ng-click="setSecondColor('#CDDC39')">Lime</md-option>
            <md-option value="13" ng-click="setSecondColor('#FFEB3B')">Yellow</md-option>
            <md-option value="14" ng-click="setSecondColor('#FFC107')">Amber</md-option>
            <md-option value="15" ng-click="setSecondColor('#FF9800')">Orange</md-option>
            <md-option value="16" ng-click="setSecondColor('#FF5722')">Deep Orange</md-option>
            <md-option value="17" ng-click="setSecondColor('#795548')">Brown</md-option>
            <md-option value="18" ng-click="setSecondColor('#9E9E9E')">Grey</md-option>
            <md-option value="19" ng-click="setSecondColor('#607D8B')">Blue Grey</md-option>
        </md-select>
        <div class="row" ng-if="loginFlag == true">
            <div class="col-50" style="margin-left: 20px;">{{appLanguage.app_lang_setting_template}}</div>
        </div>
        <md-select ng-model="mdSelectValueTemplate" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;" ng-if="loginFlag == true">
            <!-- <md-option value="1" ng-click="setTemplate(1)">{{appLanguage.app_lang_setting_template_equal}}</md-option>
            <md-option value="2" ng-click="setTemplate(2)">{{appLanguage.app_lang_setting_template_low}}</md-option>
            <md-option value="3" ng-click="setTemplate(3)">{{appLanguage.app_lang_setting_template_high}}</md-option>
            <md-option value="4" ng-click="setTemplate(4)">{{appLanguage.app_lang_setting_template_curve}}</md-option> -->

            <md-option value="1" ng-click="setTemplate(1)" ng-if="appLanguageID == 1">ปุ่มระดับเดียวกัน</md-option>
            <md-option value="2" ng-click="setTemplate(2)" ng-if="appLanguageID == 1">ปุ่มระดับต่ำไปสูง</md-option>
            <md-option value="3" ng-click="setTemplate(3)" ng-if="appLanguageID == 1">ปุ่มระดับสูงไปต่ำ</md-option>
            <md-option value="4" ng-click="setTemplate(4)" ng-if="appLanguageID == 1">ปุ่มระดับโค้ง</md-option>

            <md-option value="1" ng-click="setTemplate(1)" ng-if="appLanguageID == 2">Equal</md-option>
            <md-option value="2" ng-click="setTemplate(2)" ng-if="appLanguageID == 2">Low To High</md-option>
            <md-option value="3" ng-click="setTemplate(3)" ng-if="appLanguageID == 2">High To Low</md-option>
            <md-option value="4" ng-click="setTemplate(4)" ng-if="appLanguageID == 2">Curve</md-option>

            <md-option value="1" ng-click="setTemplate(1)" ng-if="appLanguageID == 3">等于</md-option>
            <md-option value="2" ng-click="setTemplate(2)" ng-if="appLanguageID == 3">从低到高</md-option>
            <md-option value="3" ng-click="setTemplate(3)" ng-if="appLanguageID == 3">从高到低</md-option>
            <md-option value="4" ng-click="setTemplate(4)" ng-if="appLanguageID == 3">曲线</md-option>

            <md-option value="1" ng-click="setTemplate(1)" ng-if="appLanguageID == 4">같은</md-option>
            <md-option value="2" ng-click="setTemplate(2)" ng-if="appLanguageID == 4">낮음부터 높음</md-option>
            <md-option value="3" ng-click="setTemplate(3)" ng-if="appLanguageID == 4">높음에서 낮음</md-option>
            <md-option value="4" ng-click="setTemplate(4)" ng-if="appLanguageID == 4">곡선</md-option>
        </md-select>
        <div class="row" ng-if="loginFlag == true">
            <div class="col-50" style="margin-left: 20px;">{{appLanguage.app_lang_setting_order}}</div>
        </div>
        <md-select ng-model="mdSelectValueOrder" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;" ng-if="loginFlag == true">
            <md-option value="1" ng-click="setOrder(1)" ng-if="appLanguageID == 1">จากน้อยไปมาก</md-option>
            <md-option value="2" ng-click="setOrder(2)" ng-if="appLanguageID == 1">จากมากไปน้อย</md-option>

            <md-option value="1" ng-click="setOrder(1)" ng-if="appLanguageID == 2">Ascending</md-option>
            <md-option value="2" ng-click="setOrder(2)" ng-if="appLanguageID == 2">Descending</md-option>

            <md-option value="1" ng-click="setOrder(1)" ng-if="appLanguageID == 3">上升</md-option>
            <md-option value="2" ng-click="setOrder(2)" ng-if="appLanguageID == 3">降序</md-option>

            <md-option value="1" ng-click="setOrder(1)" ng-if="appLanguageID == 4">오름차순</md-option>
            <md-option value="2" ng-click="setOrder(2)" ng-if="appLanguageID == 4">내림차순</md-option>
        </md-select>
        <div class="row" ng-if="loginFlag == true">
            <div class="col-50" style="margin-left: 20px;">{{appLanguage.app_lang_setting_color}}</div>
        </div>
        <md-select ng-model="mdSelectValueColor" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;" ng-if="loginFlag == true">
            <md-option value="1" ng-click="setColor(1)" ng-if="appLanguageID == 1">รูปแบบ 1</md-option>
            <md-option value="2" ng-click="setColor(2)" ng-if="appLanguageID == 1">รูปแบบ 2</md-option>
            <md-option value="3" ng-click="setColor(3)" ng-if="appLanguageID == 1">รูปแบบ 3</md-option>

            <md-option value="1" ng-click="setColor(1)" ng-if="appLanguageID == 2">Style 1</md-option>
            <md-option value="2" ng-click="setColor(2)" ng-if="appLanguageID == 2">Style 2</md-option>
            <md-option value="3" ng-click="setColor(3)" ng-if="appLanguageID == 2">Style 3</md-option>

            <md-option value="1" ng-click="setColor(1)" ng-if="appLanguageID == 3">样式 1</md-option>
            <md-option value="2" ng-click="setColor(2)" ng-if="appLanguageID == 3">样式 2</md-option>
            <md-option value="3" ng-click="setColor(3)" ng-if="appLanguageID == 3">样式 3</md-option>

            <md-option value="1" ng-click="setColor(1)" ng-if="appLanguageID == 4">스타일 1</md-option>
            <md-option value="2" ng-click="setColor(2)" ng-if="appLanguageID == 4">스타일 2</md-option>
            <md-option value="3" ng-click="setColor(3)" ng-if="appLanguageID == 4">스타일 3</md-option>
        </md-select>
        <div class="row" ng-if="loginFlag == true">
            <div class="col-50" style="margin-left: 20px;">{{appLanguage.app_lang_setting_sound}}</div>
        </div>
        <md-select ng-model="mdSelectValueSound" aria-label="md-option" style="margin-left: 20px; padding: 10px 2px 26px;" ng-if="loginFlag == true">
            <md-option value="1" ng-click="setSound(1)" ng-if="appLanguageID == 1">เปิดเสียง</md-option>
            <md-option value="2" ng-click="setSound(2)" ng-if="appLanguageID == 1">ปิดเสียง</md-option>

            <md-option value="1" ng-click="setSound(1)" ng-if="appLanguageID == 2">Unmute</md-option>
            <md-option value="2" ng-click="setSound(2)" ng-if="appLanguageID == 2">Mute</md-option>

            <md-option value="1" ng-click="setSound(1)" ng-if="appLanguageID == 3">取消静音</md-option>
            <md-option value="2" ng-click="setSound(2)" ng-if="appLanguageID == 3">静音</md-option>

            <md-option value="1" ng-click="setSound(1)" ng-if="appLanguageID == 4">음소거 해제</md-option>
            <md-option value="2" ng-click="setSound(2)" ng-if="appLanguageID == 4">묵자</md-option>
        </md-select>
        <br><br>
    </ion-content>
</ion-view>
